<div class="nav-items">
  <div class="nav-item">

    <span><a routerLink="/owner">Dashboard</a></span>
  </div>
  <div class="nav-item">
   
    <span><a routerLink="/owner/customerManagement">Customers</a></span>
  </div>
  <div class="nav-item">
  
    <span><a routerLink="/owner/productManagement">Products</a></span>
  </div>
  <div class="nav-item">
 
    <span><a routerLink="/owner/employeeManagement">Employees</a></span>
  </div>
  <div class="nav-item">
    
    <span><a routerLink="/owner/OrderManagementComponent">Orders</a></span>
  </div>
  <!-- <div class="nav-item">
    
    <span><a routerLink="/owner/SalesManagementComponent">Sales</a></span>
  </div> -->
  
</div>