<header [class.scrolled]="isScrolled">
  <nav>
    <div class="menu-icon" (click)="toggleMenu()">
      <span *ngIf="!isMenuOpen">&#9776;</span> <!-- Menu Icon -->
      <span *ngIf="isMenuOpen">&#10006;</span> <!-- Cross Icon -->
    </div>

    <ul class="center-menu" [class.show]="isMenuOpen">
      <li><a href="/" (click)="closeMenu()">Home</a></li>
      <li><a href="/Kotthu" (click)="closeMenu()">Kotthu</a></li>
      <li><a href="/FriedRice" (click)="closeMenu()">Fried Rice</a></li>
      <li><a href="/Rice&Curry" (click)="closeMenu()">Rice & Curry</a></li>
      <li><a href="/ShortEats" (click)="closeMenu()">Short Eats</a></li>
      <li><a href="/Drinks" (click)="closeMenu()">Drinks</a></li>
    </ul>

    <ul class="right-menu">
      <li *ngIf="!isLoggedIn">
        <a href="/login" style="font-size: 20px;">Login</a>
      </li>
      <li *ngIf="isLoggedIn" class="dropdown">
        <span class="material-icons">account_circle</span>
        <span>{{ userName }}</span>
        <div class="dropdown-menu">
          <a href="/account">My Account</a>
          <a href="/order-history">Order History</a>
          <a href="/address">Address</a>
          <a href="/" (click)="logout()">Logout</a>
        </div>
      </li>
      <li><a (click)="openCart()"><span class="material-icons">shopping_cart</span></a></li>
    </ul>
  </nav>
</header>

<app-cart-sidebar></app-cart-sidebar>