<header [class.scrolled]="isScrolled" [class.home]="isHomePage">
  <nav>

        <!-- Mobile Menu Toggle Button -->
        <div class="menu-icon" (click)="toggleMenu()">
          <span *ngIf="!isMenuOpen">&#9776;</span> <!-- Menu Icon -->
          <span *ngIf="isMenuOpen">&#10006;</span> <!-- Cross Icon -->
        </div>

        <ul class="center-menu" [class.show]="isMenuOpen">
          <li><a href="/" (click)="closeMenu()">Home</a></li>
          <li><a href="/Rice&Curry" (click)="closeMenu()">Rice & Curry</a></li>
          <li><a href="/Kotthu" (click)="closeMenu()">Kotthu</a></li>
          <li><a href="/Biriyani" (click)="closeMenu()">Biriyani</a></li>
          <li><a href="/FriedRice" (click)="closeMenu()">Fried Rice</a></li>
          <li><a href="/Desserts" (click)="closeMenu()">Desserts</a></li>
          <li><a href="/Drinks" (click)="closeMenu()">Drinks</a></li>
        </ul>
          
      <ul class="right-menu">
        <li><a id="profile" href="/profile"><span class="material-icons">account_circle</span></a></li>
        <li><a (click)="openCart()"><span class="material-icons">shopping_cart</span></a></li>
      </ul>
  </nav>
</header>
<app-cart-sidebar></app-cart-sidebar>