<div class="header">
  <div class="logo">Restaurant POS</div>
  
  <!-- Toolbar Navigation -->
  <div class="pos-navigation">
    <p-button label="New Order" icon="pi pi-plus" styleClass="mr-2" routerLink="/cashier"></p-button>
    <p-button label="Online Orders" icon="pi pi-shopping-cart" styleClass="p-button-info mr-2" 
              routerLink="/cashier/onlineOrders"></p-button>
    <p-button label="View Orders" icon="pi pi-list" styleClass="p-button-secondary mr-2" 
              routerLink="/cashier/viewOrders"></p-button>
    <p-button label="View Payments" icon="pi pi-dollar" styleClass="p-button-secondary" 
              routerLink="/cashier/viewPayments"></p-button>
  </div>

  <div class="user">
    <div class="user-name" *ngIf="currentUser">Hi, {{ userName }}</div>
    <div class="profile-menu">
      <p-avatar 
        icon="pi pi-user" 
        styleClass="profile-icon" 
        [style]="{'cursor': 'pointer'}" 
        size="large" 
        shape="circle"
        (click)="menu.toggle($event)">
      </p-avatar>
      <p-menu #menu [popup]="true" [model]="profileItems"></p-menu>
    </div>
  </div>
</div>