<div class="nav-items">
    <!-- <div class="nav-item">
  
      <span><a routerLink="/waiter">Dashboard</a></span>
    </div> -->
    <div class="nav-item">
     
      <span><a routerLink="/waiter">Products</a></span>
    </div>
    <div class="nav-item">
    
        <span><a routerLink="/waiter/WaiterOrderManagement">Orders</a></span>
    </div>

    <!-- <div class="nav-item">
    
      <span><a routerLink="/waiter/LargeOrders"> Large Order dates</a></span>
  </div> -->

  <div class="nav-item">
  <a href="#" (click)="logout()">Logout</a>
</div>
    
    
  </div>