<div class="widget-container">
    <div class="widget green">
 
      <div class="value">
        <div class="top">32</div>
        <div class="bottom">Catagories</div>
      </div>
    </div>
    <div class="widget yellow">
   
      <div class="value">
        <div class="top">295</div>
        <div class="bottom">Custormers</div>
      </div>
    </div>
    <div class="widget red">
    
      <div class="value">
        <div class="top">4578</div>
        <div class="bottom">Products Sold</div>
      </div>
    </div>
    <div class="widget blue">
           <div class="value">
        <div class="top">346928</div>
        <div class="bottom">Total Revenue</div>
      </div>
    </div>
  </div>