.p-calendar .p-datepicker {
  z-index: 1100 !important;
}


.truncate-cell {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-fluid .field {
  margin-bottom: 1rem;
}

.p-datatable-sm .p-datatable-thead > tr > th,
.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
}