<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-6">
    <ng-template #end>
      <p-button
        label="Export"
        icon="pi pi-upload"
        severity="secondary"
        (onClick)="exportCSV()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="orders"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['customerId', 'customerName', 'orderStatus', 'paymentStatus']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Manage Orders</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            #searchInput
            pInputText
            type="text"
            (input)="dt.filterGlobal(searchInput.value, 'contains')"
            placeholder="Search..."
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pSortableColumn="customerId">
          Customer ID <p-sortIcon field="customerId" />
        </th>
        <th pSortableColumn="customerName">
          Customer Name <p-sortIcon field="customerName" />
        </th>
        <th pSortableColumn="totalAmount">
          Total Amount <p-sortIcon field="totalAmount" />
        </th>
        <th pSortableColumn="paymentStatus">
          Payment Status <p-sortIcon field="paymentStatus" />
        </th>
        <th pSortableColumn="orderStatus">
          Order Status <p-sortIcon field="orderStatus" />
        </th>
        <th pSortableColumn="isOnline">
          Is Online <p-sortIcon field="isOnline" />
        </th>
        <th style="min-width: 12rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-order>
      <tr>
        <td>{{ order.customerId }}</td>
        <td>{{ order.customerName }}</td>
        <td>{{ order.totalAmount | currency : 'Rs.' }}</td>
        <td>{{ order.paymentStatus }}</td>
        <td>
          <p-tag
            [value]="order.orderStatus"
            [severity]="getSeverity(order.orderStatus)"
          />
        </td>
        <td>{{ order.isOnline ? 'NO' : 'Yes' }}</td>
      </tr>
    </ng-template>
    <ng-template #summary>
      <div class="flex items-center justify-between">
        In total there are {{ orders ? orders.length : 0 }} orders.
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="orderDialog"
    [style]="{ width: '450px' }"
    header="Order Details"
    [modal]="true"
  >
    <ng-template #content>
      <div class="flex flex-col gap-6">
        <div>
          <label for="customerId" class="block font-bold mb-3">Customer ID</label>
          <input
            type="text"
            pInputText
            id="customerId"
            [(ngModel)]="order.customerId"
            required
            readonly
            fluid
          />
        </div>
        <div>
          <label for="customerName" class="block font-bold mb-3">Customer Name</label>
          <input
            type="text"
            pInputText
            id="customerName"
            [(ngModel)]="order.customerName"
            required
            readonly
            fluid
          />
        </div>
        <div>
          <label for="totalAmount" class="block font-bold mb-3">Total Amount</label>
          <p-inputnumber
            id="totalAmount"
            [(ngModel)]="order.totalAmount"
            mode="currency"
            currency="Rs"
            locale="en-US"
            fluid
          />
        </div>
        <div>
          <label for="paymentStatus" class="block font-bold mb-3">Payment Status</label>
          <input
            type="text"
            pInputText
            id="paymentStatus"
            [(ngModel)]="order.paymentStatus"
            required
            readonly
            fluid
          />
        </div>
        <div>
          <label for="status" class="block font-bold mb-3">Order Status</label>
          <p-select
            [(ngModel)]="order.orderStatus"
            inputId="status"
            [options]="statuses"
            optionLabel="label"
            placeholder="Select Status"
            fluid
          />
        </div>
        <div>
          <label for="isOnline" class="block font-bold mb-3">Is Online</label>
          <input
            type="text"
            pInputText
            id="isOnline"
            [value]="order.isOnline ? 'Yes' : 'No'"
            required
            readonly
            fluid
          />
        </div>
      </div>
    </ng-template>
    <ng-template #footer>
      <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>